
.container{
    margin: auto;
    width: 80%;
    height: 70%;
}


.button, .left{
    width: 50%;
}

.left{
    margin-right: 5px;
}

.image{
    margin-right: 5px;
}

.input{
    cursor: pointer;
}

.input:hover{
    opacity: 0.8;
}